[submodule "themes/smigle"]
	path = themes/smigle
	url = https://gitlab.com/ian-s-mcb/smigle-hugo-theme.git
[submodule "themes/simplog"]
	path = themes/simplog
	url = https://github.com/michimani/simplog
